
@font-face {
  font-family: 'BarbarianNS';
  src: local('BarbarianNS'),url(./Fonts/BarbarianNS.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: 'vinque_rg';
  src: local('vinque_rg'), url(./Fonts/vinque_rg.otf) format('truetype');
}

@font-face {
  font-family: 'SEVESBRG';
  src: local('SEVESBRG'), url(./Fonts/SEVESBRG.TTF) format('truetype');
}

@font-face {
  font-family: 'MoriaCitadel';
  src: local('MoriaCitadel'), url(./Fonts/MoriaCitadel.TTF) format('truetype');
}

@font-face {
  font-family: 'Wonderbar_Demo';
  src: local('Wonderbar_Demo'), url(./Fonts/Wonderbar_Demo.otf) format('truetype');
}

@font-face {
  font-family: 'MagicSchoolOne';
  src: local('MagicSchoolOne'), url(./Fonts/MagicSchoolOne.ttf) format('truetype');
}

/* Anchors styles */
a {
  color: black; /* Set default color for anchors */
  text-decoration: none; /* Remove underline */
}

/* Anchors on hover */
a:hover {
  color: black; /* Set color to black on hover */
}

/* Anchors visited */
a:visited {
  color: black; /* Set color to black for visited anchors */
}

main {
  text-align: center;
  vertical-align: center;
  line-height: 5vh;  
  horizontal-align: center;
  margin:auto;
  width:100%;
  max-width:1200px;
  background:repeat;
  background-size:contain;
  background-color:black;
  background-image:url('https://media.tenor.com/snDaLwK-MFYAAAAd/gold-3d.gif')
}
/*https://media4.giphy.com/media/4k7v3eAm5fVJu/giphy.gif?cid=ecf05e473pq6n425p1lp1eaw9ikvr4diw1m8eoffywf1g1mf&rid=giphy.gif&ct=g*/

/*https://media4.giphy.com/media/L1QMTl9ggmYGoCu7oj/giphy.gif?cid=ecf05e47w93lbktcoktdoz7agtejjrdc5mmu390o87w0q2rg&rid=giphy.gif&ct=g*/

/*https://media0.giphy.com/media/10rtoKqcDukJgc/giphy.gif?cid=ecf05e47k32byjhrrg6n0l9garjgbcef0deehkbnzfcpbmf2&rid=giphy.gif&ct=g*/

body {
  background-color:black;
  
}

.top-nav {
  display:inline-block;

  
}

p{
  color:black;
  padding-bottom:0px;
  line-height: 4vh;
  
}

h1{
  color:black;
  padding-bottom:0px;
  line-height: 5vh;
  
}

#App {
  text-align: center;
  vertical-align: center;
  line-height: 5vh;  
  horizontal-align: center;
  margin:auto;
  width:100%;
  background-color:black;
}

#button {
  display:inline-block;
  background-color:grey;
  width:200px;
  border:solid;
  border-radius:10px;
  margin:auto;
  padding:5px;
  align:center;
  
  
}

#text-container {
  border-radius: 25px;
  text-align: left;
  vertical-align: center;
  line-height: 5vh;  
  horizontal-align: center;
  margin:auto;
  width:100%;
  padding:3px;
  text-justify: auto;
  background: rgba(192, 192, 192, .5);
}

#title-container {
  border-radius: 25px;
  text-align: justify;
  vertical-align: center;
  line-height: 3vh;  
  horizontal-align: center;
  margin:auto;
  width:100%;
  padding:3px;
  text-justify: auto;
  background: rgba(192, 192, 192, .5);
  border:1px solid;
}

#description-container {
  border-radius: 25px;
  text-align: left;
  vertical-align: center;
  line-height: 5vh;  
  horizontal-align: center;
  margin:auto;
  width:100%;
  margin-top:5px;
  padding:3px;
  text-justify: auto;
  background: rgba(192, 192, 192, .5);
  border:1px solid;

}

#Banner {
  font-family:  Arial, Enchanted;
  font-weight:#white;
  color:white;
  background-image:url(https://bullion.magwebdesigns.net/wp/wp-content/uploads/2023/04/michigansilvercom-low-resolution-logo-black-on-transparent-background.png);
  margin-bottom: 0px;
  border-radius: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color:white;
  width: 100%;
  border: var(--border) ;
  text-align: center;
  opacity: .5;
  padding:5px;  
}

#OverlayDiv {
  font-family: MoriaCitadel, Arial, Enchanted;
  font-weight: white;
  color:white;
  margin-bottom: 0px;
  border-radius: 0px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color:black;
  width: 100%;
  min-height:"";
  max-height:"";
  border: var(--border) ;
  text-align: center;
  opacity: 1;
  padding:5px;  
}

#AudioPlayer2 {
  background-image:url('https://empirefable.magwebdesigns.net/images/scroll-horizontal-final.png');
  position:fixed;
  left:10px;
  top:500px;
  z-index:6;
  margin-bottom: ;
  border-radius: 0px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height:80px;
  width: 100px;
  min-height:"";
  max-height:"";
  border:0px ;
  text-align: left;
  opacity: 1;
  padding-left:20px;  
  line-height: 1.5vh; 
}

#AudioPlayer3 {
  background-image:url('https://empirefable.magwebdesigns.net/images/scroll-horizontal-final.png');
  position:fixed;
  left:300px;
  top:500px;
  z-index:6;
  margin-bottom: ;
  border-radius: 0px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height:80px;
  width: 100px;
  min-height:"";
  max-height:"";
  border:0px ;
  text-align: left;
  opacity: 1;
  padding-left:20px;  
  line-height: 1.5vh; 
}

#LeftNav {
  z-index:2;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100px;
  height: 400px;
  margin-bottom: 25px;
  border-radius: 25px;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  min-height: "";
  max-height: "";
  border: var(--border);
  text-align: center;
  opacity: 1;
  padding: 5px;
}

#NavOceanDeep{
  font-family: MoriaCitadel, Arial, Enchanted;
  font-weight: black;
  z-index:4;
  position: fixed;
  top: 80px;
  left: 0px;
  width: 100px;
  height: 100px;
  margin-bottom: 25px;
  border-radius: 25px;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  min-height: "";
  max-height: "";
  border: var(--border);
  text-align: left;
  opacity: 1;
  padding: 5px;
  padding-left:10p
}

#RoutingNav {
  z-index:2;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 400px;
  margin-bottom: 25px;
  border-radius: 25px;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  min-height: "";
  max-height: "";
  border: 10px;
  text-align: center;
  opacity: 100;
  padding: 10px;
  color:grey;
}

.ocean-deep-location {
  z-index:-1;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 400px;
  margin-bottom: 25px;
  border-radius: 25px;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  max-width:1800px;
  min-height: "";
  max-height: "";
  border: var(--border);
  text-align: center;
  opacity: 1;
  padding: 10px;
}

#LinkContainer {
  line-height: 3vh; 
  z-index:2;
  border-radius:0px;
  color:gold;
  border: 1px solid;
  border-radius:25px;
  background: rgba(163, 119, 75, 0.1);
  padding:5px;
  padding-left: 25px;
  background-image:url('');
  background-size:100% 100%;
  background-repeat:no-repeat;
  width:140px;

  }


#CanvasContainer {
  border: 1px solid;
  border-radius: 25px;
  color:white;
  background-color:grey;
  background-image:url('');
  opacity: 1;
  padding:0px;
  width:100%;
}

#canvas {
  border: 1px solid;
  border-radius: 25px;
  background-color:black;
  width:100%;
  
}

#IframeContainer {
  background-size:100% 100%;
  width:100%;
  position:relative;
  left:0px;
  top:0px;
  z-index:0;
  border-radius: 0px;
  margin:auto;
  overflow: hidden;
  padding:0px;
}

#Sitepal-Iframe {
  z-index:2;
  border-radius: 25px;
  margin:auto;
  height:220px;
  overflow: hidden;
}

#GPT3API {
  z-index:2;
  border: 0px solid;
  border-radius: 25px;
  color:white;
  background-color:grey;
  background-image:url('');
  opacity: .95;
  padding:10px;
  
}

#background {
  
  background-image:url("https://cdn.discordapp.com/attachments/1061677003587190788/1077639286280704133/C1_dwarven_style_fantasy_rich_villa_with_many_windows_top_down__820962e6-80fb-4971-af2e-f1fdad8fec87.png");
  background-size:100% 100%;
  margin:auto;
  background-repeat:no-repeat;
  border:1px solid;

  
}

#BackgroundImage {
  z-index:1;
  background-size:100% 100%;
  width:100%;
  min-height:600px;
  margin:auto;
  background-repeat:no-repeat;
  border:0px solid;
  background-size:cover;


  
}

#ScrollingText{
    font-family: MoriaCitadel, Arial, Enchanted;
    font-weight: black;
    font-size:12px;
    z-index:1;
    border: 0px solid;
    position:fixed;
    opacity:1;
    border-radius:20px;
    color:black;
    background: rgba(211, 211, 211, 0.2);
    padding: 15px;
    padding-left: 20px;
    top: 100px;
    left: 150px;
    min-width: 250px;
    min-height:600px;
    max-width: 550px;
    max-height:600px;
        
}

#marquee{
    font-family: MoriaCitadel, Arial, Enchanted;
    font-weight: black;
    font-size: 12px;
    line-height:3vh;
    z-index:1;
    border: 0px solid;
    opacity:1;
    border-radius:20px;
    color:black;
    background: rgba(211, 211, 211, 0.2);
    padding: 10px;
    top: 100px;
    left: 150px;
    min-width: 250px;
    min-height:600px;
    max-width: 550px;
    max-height:600px;
        
}

#Footer{
    z-index:5;
    float:bottom;
    position:fixed;
    top:750px;
    left:50px;
    border: 0px solid;
    opacity:1;
    border-radius:20px;
    color:black;
    background: rgba(211, 211, 211, 0.2);
    padding: 10px;
        
}

#game-container {  
  background-image:url("");
  background-size:100% 100%;
  margin:auto;
  background-repeat:no-repeat;
  border:1px solid;  
}

.diagram-component {
  width: 400px;
  height: 400px;
  border: solid 1px black;
  background-color: white;
}


.ThreeColumnContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
  }

  .ThreeColumnContainer > * {
    flex-basis: 30%;
    margin-bottom: 20px;
  }

  @media (max-width: 480px) {
    .ThreeColumnContainer {
      width:100%;
      flex-direction: column;
      align-items: stretch;
    }


    .ThreeColumnContainer > * {
      flex-basis: auto;
      margin-bottom: 10px;
    }
  }

  @media (max-width: 800px) {
    .ThreeColumnContainer {
      width:100%;
      flex-direction: column;
      align-items: stretch;
    }


    .ThreeColumnContainer > * {
      flex-basis: auto;
      margin-bottom: 10px;
    }
  }

  .TwoColumnContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .TwoColumnContainer > * {
    flex-basis: 48%;
    margin-bottom: 20px;
  }

  @media (max-width: 480px) {
    .TwoColumnContainer {
      flex-direction: column;
      align-items: stretch;
      width:100%;
    }
  }

  @media (max-width: 720px) {
    .TwoColumnContainer {
      flex-direction: column;
      align-items: stretch;
      width:100%;
    }
  }
  
  .OneColumnContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    width:100%;
  }

  .OneColumnContainer > * {
    width:100%;
    margin-bottom: 20px;
    flex-basis: 99%;
  }

  
  /* Add styles to make child elements responsive */
  .ChildContainer {
    font-family: , Arial, Enchanted;
    text-align: center;
    padding: 0px;
    background-size:cover;
    background: rgba(192, 192, 192, .5);
    border: 1px solid black;
    border-radius: 20px;
    box-sizing: border-box;
    width: 100%;
    height:100%;
    min-height:400px;
    overflow:hidden;
    
    
    
  }

.FeaturedChildContainer {
  font-family: , Arial, Enchanted;
  text-align: center;
  padding: 0px;
  background-size:cover;
  background: rgba(192, 192, 192, .5);
  border: 1px solid black;
  border-radius: 20px;
  box-sizing: border-box;
  width: 100%;
  height:100%;
  min-height:400px;
  overflow:hidden;



}


  @media (min-width: 769px) {
    .ChildContainer {
      color:black;
      font-family: Arial, Enchanted;
      width: 100%;
      height:100%;
    }
  }

@media (min-width: 769px) {
  .FeaturedChildContainer {
    color:black;
    font-family: Arial, Enchanted;
    width: 100%;
    height:100%;
  }
}



/* Dropdown Button */
.dropbtn {
  border-radius:20px;
  background-color: silver;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  min-width:80px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  background: rgba(211, 211, 211, 0.2);
  border-radius:20px;
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  background: rgba(211, 211, 211, 0.2);
  border-radius:20px;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  background: rgba(211, 211, 211, 0.2);
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: silver;}