main {
  text-align: center;
  vertical-align: center;
  line-height: 3vh;
  horizontal-align: center;
  margin: auto;
  width: 100%;
  background: no-repeat;
  background-size: 100% 100%;
  background-color: black;
  background-image: url("https://media.tenor.com/snDaLwK-MFYAAAAd/gold-3d.gif");
  background-size: cover;
}

/* Container styles */
.Container {
  display: flex;
  flex-wrap: wrap; /* Add flex-wrap property to wrap child divs on mobile */
  justify-content: space-between;
  padding: 5px;
  justify-content: "center";
}

.BannerContainer {
  justify-content: "center";
  border-radius: 20px;
  vertical-align: center;
  horizontal-align: center;
  flex: 1;
  padding: 0px;
  background-size: cover;
  background-position: center center;
  background-color: silver;
  background-image: url("https://media.tenor.com/snDaLwK-MFYAAAAd/gold-3d.gif");
  max-width: 400px;
  padding: 0px;
  margin: 5px;
}

/* Child div styles */
.ChildContainer {
  vertical-align: center;
  horizontal-align: center;
  flex: 1;
  padding: 5px;
  background-size: contain;
  background-position: center center;
  min-height: 400px;
  max-height: 400px;

  margin: 5px;
}

.BackgroundImage {
  vertical-align: center;
  horizontal-align: center;
  background-position: relative;
  background-size: contain;
  padding: 5px;
}

/* Child div background images */
.ChildContainer1 {
  background-image: url("image1.jpg");
}

.ChildContainer2 {
  background-image: url("image2.jpg");
}

.ChildContainer3 {
  background-image: url("image3.jpg");
}

/* Responsive styles for mobile */
@media (max-width: 768px) {
  .Container {
    flex-direction: column; /* Change flex direction to column on mobile */
  }

  .ChildContainer {
    flex: none; /* Reset flex property to none to make child divs stack on mobile */
    width: 100%; /* Set child divs to 100% width on mobile */
  }
}

.description-container {
  color: black;
}

.title-container {
  color: black;
  padding: 20px;
}
